
<body>

<button type="button" class="btn btn-info btn-lg "><a routerLink="#">
          
  <h5 style="color: white;">BACK</h5></a>
</button>




<br/>
<br/>
<br/>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-5">







<table class="table table-hover table-sm">

    <thead class="thead-light">
  
      <tr>
  
        <th>Id</th>
  
        <th>Sector Name</th>
  
        <th>Brief</th>
        <th>Modify</th>
        <th>Delete</th>
       
  
  
      </tr>
  
    </thead>
  
    <tbody>
  
       <tr *ngFor="let sectors of sectorslist">
  
        <td>{{sectors.id}}</td>
  
        <td>{{sectors.sectorName}}</td>
  
        <td>{{sectors.brief}}</td>
        <td><button (click)="updateSectors(sectors)" class="btn btn-primary">Update</button></td>
        <td><button (click)="deletesectors(sectors)" class="btn btn-danger">Delete</button> </td>
       </tr>
  
    </tbody><br>
    <button type="button" class="btn btn-info btn-lg "><a routerLink="/createsectors">
          
      <h5 style="color: white;">ADD</h5></a>
    </button>
  
  </table> 
  </div>
</div>
</body>
