<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>navbar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<body>
  <nav>
  <!-- <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>-->
    <label class="logo">STOCKMARKET</label>
    <ul>
      <li><a class="active" class="nav-link" routerLink="/homepage">Home</a> </li>
      <li><a class="nav-link" routerLink="/loginpage">Login</a> </li>
      <li><a class="nav-link" routerLink="/registration">Signup</a> </li>
      <li><a class="nav-link" routerLink="/homepage">Logout</a> </li>

    </ul>
  </nav>
  

  <router-outlet></router-outlet>
</body>

</html>