<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <br><br>
    <div class="container">
        <h2>User Choose Any One</h2>
        <button type="button" class="btn btn-dark btn-lg btn-block"> <a routerLink="/ipolist">

            <h5 style="color: white;"><h3>Ipo's</h3></h5>
          
           </a></button>
          
           <button type="button" class="btn btn-dark btn-lg btn-block"><a routerLink="/comparecompany">
          
            <h5 style="color: white;"><h3>Compare Company</h3></h5>
          
           </a></button>
          
          <!--   <button type="button" class="btn btn-dark btn-lg btn-block"><a routerLink="/createsectors">
          
            <h5 style="color: white;"><h3>Compare Sectors</h3></h5>
          
           </a></button>-->
          
        <!--   <button type="button" class="btn btn-dark btn-lg btn-block"><a routerLink="/#">
          
            <h5 style="color: white;"><h3>Others</h3></h5>
          
           </a></button>-->
    </div>

</body>
</html>