<body>
    <button type="button" class="btn btn-info btn-lg "><a routerLink="#">
          
        <h5 style="color: white;">BACK</h5></a>
      </button>
<br/>
<br/>
<br/>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-7">
<table class="table table-hover table-sm">

    <thead class="thead-light">
        <tr>
            <th>companyCode</th>
            <th>StockExchange</th>
            <th>currentPrice</th>
            <th>Date</th>
            <th>Time</th>
            <th>Upload</th>
            <th>Modify</th>
            <th>Delete</th>
           
            


        </tr>
    </thead>

<tbody>
    <tr *ngFor="let stockprice of stockpricelist">
        <td>{{stockprice.companyCode}}</td>
        <td>{{stockprice.stockExchange}}</td>
        <td>{{stockprice.currentPrice}}</td>
        <td>{{stockprice.date}}</td>
        <td>{{stockprice.time}}</td>
        <td>{{stockprice.uploadFile}}</td>

        <td><button (click)="updateStockPrice(stockprice)" class="btn btn-primary">Update</button></td>
        <td><button (click)="deleteStockPrice(stockprice)" class="btn btn-danger">Delete</button></td>
      </tr>
      
</tbody><br>
<button type="button" class="btn btn-info btn-lg "><a routerLink="/createstockprice">
          
    <h5 style="color: white;">ADD</h5></a>
  </button>
</table>
    </div>
</div>
